/*allyson*/
body {
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	/* Font to use */
	background-color: #FFF;
	font-size: 0.9em;
}

/* General styling for both valid and invalid input */
.invalidInput,.validInput {
	display: inline;
	padding: 5px;
}
/* Style for invalid input */
.invalidInput {
	border: 1px solid #F00;
}

/* Style for valid input */
.validInput {
	border: 1px solid #FFF;
}